{% extends 'admin/account/index.html.twig' %}
{% block account_heading %}Personal Details{% endblock %}
{% block account_body %}
{{ form_start(form) }}
    {{ form_row(form._token) }}
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'readonly': 'true'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.fullName) }}
    {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="d-flex gap-2 justify-content-end">
    <button type="submit" class="btn btn-info">Update</button>
</div>
{{ form_end(form) }}
{% endblock %}