{% extends 'admin/base.html.twig' %}

{% block title %}Account
{% endblock %}
{% block page %}
    Account
{% endblock %}
{% block breadcrumb_lv1 %}
    Account
{% endblock %}
{% block breadcrumb_lv2 %}
    Info
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="profile-user position-relative d-inline-block mx-auto mb-4">
                            <img src="{{ asset('build/images/account-full.svg') }}" class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="" />
                        </div>
                        <h5 class="fs-16 mb-1">{{ app.user.fullName }}</h5>
                        <p class="text-muted mb-0">{% for role in app.user.roles %} {{ role }} {% endfor %}</p>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body p-4">
                    <div class="">
                        <a href="{{ path('admin_edit_account') }}" class="btn">Account</a>
                        <a href="{{ path('admin_change_password') }}" class="btn">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 mt-xl-0 mt-md-2">
            <div class="card">
                <div class="card-header">
                    {% block account_heading %}{% endblock %}
                </div>
                <div class="card-body p-4">
                    {% block account_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}