{% extends 'admin/account/index.html.twig' %}
{% block account_heading %}Change Password{% endblock %}
{% block account_body %}
{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
{{ form_row(form._token) }}
<div class="input-group mb-3">
    {{ form_row(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="input-group mb-3">
    {{ form_row(form.newPassword, {'attr': {'class': 'form-control'}}) }}
</div>
<button class="btn btn-info" type="submit">Reset Password</button>
{{ form_end(form) }}
{% endblock %}