{% extends 'admin/base.html.twig' %}
{% block title %}Edit User
{% endblock %}

{% block page %}
    EDIT USER
{% endblock %}
{% block breadcrumb_lv1 %}
    User
{% endblock %}
{% block breadcrumb_lv2 %}
    Edit User
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-item-center">
                <h4 class="card-title mb-0 h-auto">Edit User</h4>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="live-preview">
                <div class="form-row">
                    <div class="col-6">
                        <div class="mb-3">
                            {{ form_label(form.fullname) }}
                            {{ form_widget(form.fullname,{'attr':{'class':'form-control','placeholder': 'Full name'}}) }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder': 'Email', 'readonly': 'true'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_app_user')}}'" name="exit">
                <i data-feather="chevron-left"></i>
                Back</button>
            <button class="btn btn-primary btn-sm mr-1" type="submit" name="create_product">
                <i data-feather="save"></i>
                Save
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
