body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: transparent;
    a {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
