.box_info_receiver {
  padding: 10px 0;
  border: 1px solid #e5e5e5;
}
.item_status_order {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  width: 110px;
  text-align: center;
  &.awaiting {
    background-color: #ffa500;
  }
  &.checkout {
    background-color: #0cbeff;
  }
  &.complete {
    background-color: #4b8c6c;
  }
}