{% extends 'user/base.html.twig' %}
{% block title %}TheBeautyStore Register{% endblock %}
{% block body %}
	<section class="vh-100">
		{#        {% if error %}#}
		{#            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
		{#        {% endif %}#}
			<div class="container py-5 h-100"> <div class="row d-flex align-items-center justify-content-center h-100">
				<div class="col-md-7 col-lg-5 col-xl-5">
					{{ form_start(registrationForm) }}
					<div class="form-outline mb-4">
						<h1 class="text-center">Register</h1>
					</div>
					<!-- Email input -->
					<div class="form-outline mb-4">
						{{ form_row(registrationForm.email, {'label_attr':{'class':'form-label'}, 'attr':{'class':'form-control form-control-lg','placeholder': 'Email'}}) }}
					{#                            <input type="email" id="username" class="form-control form-control-lg" name="_username" value="{{ last_username }}"/>#}
						{#                            <label class="form-label" for="username">Email address</label>#}
					</div>

					<!-- Fullname input -->
					<div class="form-outline mb-4">
						{{ form_row(registrationForm.fullname, {'label_attr':{'class':'form-label'}, 'attr':{'class':'form-control form-control-lg','placeholder': 'Fullname'}}) }}
					</div>

					<!-- Password input -->
					<div class="form-outline mb-4">
						{#                            {{ form_row(registrationForm.plainPassword, {'label': 'Password'#}
						{#                            ,'attr':{'class':'form-control','placeholder': 'Password'}}) }}#}{{ form_row(registrationForm.plainPassword, {'label': 'Password', 'label_attr':{'class':'form-label'}, 'attr': {'class': 'form-control form-control-lg','placeholder': 'Password'}}
					) }}
						{#                            <input type="password" id="password" class="form-control form-control-lg" name="_password"/>#}
						{#                            <label class="form-label" for="password">Password</label>#}
					</div>

					<div
						class="d-flex justify-content-around align-items-center mb-4">
						<!-- Checkbox -->
						<div class="form-group">
							{{ form_errors(registrationForm.agreeTerms) }}
							{{ form_widget(registrationForm.agreeTerms, {'attr':{'class':'form-check-input'}}) }}
							{{ form_label(registrationForm.agreeTerms, 'Agree Terms', {'label_attr':{'class':'form-check-label'}}) }}
						</div>
						{# <a href="#!">Forgot password?</a> #}
					</div>

					<!-- Submit button -->
					<button type="submit" class="btn btn-dark btn-lg btn-block">Register</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</section>
	{#    <h1>Register</h1>#}

{#    {{ form_errors(registrationForm) }}#}

	{#    {{ form_start(registrationForm) }}#}
	{#        {{ form_row(registrationForm.email) }}#}
	{#        {{ form_row(registrationForm.plainPassword, {#}
	{#            label: 'Password'#}
	{#        }) }}#}
	{#        {{ form_row(registrationForm.agreeTerms) }}#}

	{#        <button type="submit" class="btn">Register</button>#}
	{#    {{ form_end(registrationForm) }}#}
{% endblock %}
