{% extends 'admin/base.html.twig' %}

{% block title %}OrderController
{% endblock %}
{% block page %}
    Orders
{% endblock %}
{% block breadcrumb_lv1 %}
    Orders
{% endblock %}
{% block breadcrumb_lv2 %}
    Order list
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Order List</h4>
        </div>
        <div class="card-body">
            <div class="listjs-table" id="customerList">
                <div class="row gap-4 mb-3">
                    <div class="col-sm">
                        <div class="d-flex justify-content-sm-end">
                            <div class="search-box ms-2">
                                <input type="text" class="form-control search-body" name="" id="" placeholder="Search..."/>
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-card mt-3 mb-1">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User id</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Updated at</th>
                            <th scope="col">Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.user }}</td>
                                <td>{{ order.createdAt|date('F j,Y, g:i a') }}</td>
                                <td>{{ order.updatedAt|date('F j,Y, g:i a') }}</td>
                                <td><span class="item_status_order {{ order.status }}">{{ order.status }}</span></td>
                                <td class="d-flex gap-1">
                                    <button onclick="location.href='{{ path('admin_order_items', {'id': order.id}) }}'" title="view order items" class='btn btn-sm btn-warning'>
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button onclick="location.href='{{ path('admin_order_status', {'id': order.id}) }}'" title="check complete" class='btn btn-sm btn-success'>
                                        <i class="fa fa-check-square"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
