{% extends 'admin/base.html.twig' %}

{% block title %}ProductController
{% endblock %}
{% block page %}
    Order Items
{% endblock %}
{% block breadcrumb_lv1 %}
    Order
{% endblock %}
{% block breadcrumb_lv2 %}
    Order item list
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Order Items</h4>
        </div>
        <div class="card-body">
            <div class="box_info_receiver row mx-0">
                <div class="col-lg-4 col-md-3 col-sm-4">
                    <div class="info_top_order">
                        <div class="mb-1">Order id: <strong>{{ order.id }}</strong></div>
                        <div class="mb-1">Created at: {{ order.createdAt|date('F j,Y, g:i a') }}</div>
                        <div class="mb-3">Updated at: {{ order.updatedAt|date('F j,Y, g:i a') }}</div>
                        <div class="block_status_order mb-1">
                            <span class="item_status_order {{ order.status }}">{{ order.status }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                    <div class="mb-2"><strong>Receiver info</strong></div>
                    <div class="info_name">Full name: {{ order.user.fullname }}</div>
                    <div class="info_name info_gmail">Email: {{ order.user.email }}</div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-4">
                    <div class="mb-2"><strong>Order info</strong></div>
                    <div class="info_name">Total: <strong>{{ order.total }} VND</strong></div>
                    <div class="info_name info_gmail"></div>
                </div>
            </div>
            <div class="listjs-table" id="orderList">
                <div class="table-responsive table-card mt-3 mb-1">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Product id</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ item.product }}</td>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td class="text-end">{{ item.total }} đ</td>
                            </tr>
                        {% endfor %}
                        <tr class="tfooter">
                            <td colspan="4">
                                <div class="text-right"><strong>Total</strong></div>
                            </td>
                            <td>
                                <div class="text-right text-warning"><strong>{{ order.total }}đ</strong></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
