{% extends 'user/base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<section class="section">
		<div class="container mt-4">
			<h1>Shopping Cart</h1>
			{% if cart.items.count > 0 %}
				<div
					class="row">
					<!-- List of items -->
					<div class="col-md-8">
						{{ form_start(form) }}
						{% if form.vars.errors|length > 0 %}
							<div class="alert alert-danger">
								{% for error in form.vars.errors %}
									{{ error.message }}
								{% endfor %}
							</div>
						{% endif %}
						<div class="card">
							<div class="card-header bg-light text-black d-flex">
								<h5>Items</h5>
								{{ form_row(form._token) }}
								<div class="ml-auto">
									{{ form_widget(form.save, {'attr': {'class': 'btn btn-dark'}}) }}
									{{ form_widget(form.clear, {'attr': {'class': 'btn btn-light'}}) }}
								</div>
							</div>
							<ul class="list-group list-group-flush">
								{% for item in form.items %}
									<li class="list-group-item d-flex">
										<div class="flex-fill mr-2">
											<img src="{{ asset('uploads/'~item.vars.data.product.galleries[0].thumbnail) }}" width="64" alt="Product image">
										</div>
										<div class="flex-fill mr-2">
											<h5 class="mt-0 mb-0">{{ item.vars.data.product.name }}</h5>
											<small>{{ item.vars.data.product.about[:50] }}...</small>
											<div class="form-inline mt-2">
												<div class="form-group mb-0 mr-2">
													{{ form_widget(item.quantity, {
                                                        'attr': {
                                                            'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                                        }
                                                    }) }}
													<div class="invalid-feedback">
														{{ form_errors(item.quantity) }}
													</div>
												</div>
												{{ form_widget(item.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}
											</div>
										</div>
										<div class="flex-fill mr-2 text-right">
											<b>{{ item.vars.data.product.listPrice }}
												VND</b>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
						{{ form_end(form, {'render_rest': false}) }}
					</div>
					<!-- Summary -->
					<div class="col-md-4">
						<div class="card mt-4 mt-md-0">
							<h5 class="card-header bg-light text-dark">Summary</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between">
									<div>
										<b>Total</b>
									</div>
									<span>
										<b>{{ cart.total }}
											VND</b>
									</span>
								</li>
							</ul>
							<div class="card-body">
								<button onclick="location.href='{{ path('app_user_checkout') }}'" class="btn btn-dark w-100">Checkout</button>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="alert alert-secondary">
					Your cart is empty. Go to
					<a href="{{ path('app_shop') }}">shop</a>.
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
