{% extends 'base/base.html.twig' %}
		{% block stylesheets %}
			{{ parent() }}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}
{% block boilerplate %}
	<div class="sidebar">
		<div class="sidebar-header">
			<a href="#" class="sidebar-logo">
				<span></span>
			</a>
			<a href="#" class="sidebar-logo-text">The<span>BeautyStore</span>
			</a>
		</div>
		<!-- sidebar-header -->
		<div class="sidebar-search">
			<div class="search-body">
				<i data-feather="search"></i>
				<input type="text" class="form-control" placeholder="Search..."/>
			</div>
			<!-- search-body -->
		</div>
		<!-- sidebar-search -->
		<div class="sidebar-body">
			<ul class="nav-sidebar">
				<li class="nav-item active show">
					<a href="{{ path('admin_app_dashboard') }}" class="nav-link">
						<i data-feather="grid"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link with-sub">
						<i data-feather="database"></i>
						<span>Product</span>
					</a>
					<nav class="nav-sub">
						<a href="{{ path('admin_product_list') }}" class="sub-link">Product</a>
						<a href="{{ path('admin_category_list') }}" class="sub-link">Category</a>
					</nav>
				</li>
				<li class="nav-item">
					<a href="{{ path('admin_app_order') }}" class="nav-link">
						<i data-feather="shopping-bag"></i>
						<span>Orders</span>
					</a>
				</li>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
				<li class="nav-item">
					<a href="" class="nav-link with-sub">
						<i data-feather="users"></i>
						<span>Accounts</span>
					</a>
					<nav class="nav-sub">
						<a href="{{ path('admin_app_user') }}" class="sub-link">Users</a>
						<a href="{{ path('admin_app_admin') }}" class="sub-link">Admins</a>
					</nav>
				</li>
				{% endif %}
			</ul>
		</div>
		<!-- sidebar-body -->
		<div class="sidebar-footer">
			<a href="" class="avatar online">
				<span class="avatar-initial">s</span>
			</a>
			<div class="avatar-body">
				<div class="d-flex align-items-center justify-content-between">
					<h6>{{ app.user.email }}</h6>
					<a href="{{ path('admin_edit_account') }}" class="footer-menu">
						<i class="ri-settings-4-line"></i>
					</a>
				</div>
				<span>Superuser/Administrator</span>
				<a href="{{ path('app_logout') }}">Log out</a>
			</div>
			<!-- avatar-body -->
		</div>
		<!-- sidebar-footer -->
	</div>
	<!-- sidebar -->

	<div class="content">
		<div class="content-header">
			<a id="contentMenu" href="#" class="content-menu d-none d-lg-flex">
				<i data-feather="menu"></i>
			</a>
			<a id="mobileMenu" href="#" class="content-menu d-lg-none">
				<i data-feather="menu"></i>
			</a>
		</div>
		<!-- content-header -->
		<div class="content-body">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0">
					{% block page %}{% endblock %}
				</h4>
				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item">
							<a href="">
								{% block breadcrumb_lv1 %}{% endblock %}
							</a>
						</li>
						<li class="breadcrumb-item active">
							<a href="">
								{% block breadcrumb_lv2 %}{% endblock %}
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% for flash_message in app.session.flashBag.get('notice') %}
						<div class="alert alert-success">{{ flash_message }}</div>
					{% endfor %}
					{% for flash_message in app.session.flashBag.get('error') %}
						<div class="alert alert-danger">{{ flash_message }}</div>
					{% endfor %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		<!-- content-body -->
	</div>
	<!-- content -->
</body></html></div><!-- /.container -->{% endblock %}
		{% block javascripts %}
			{{ parent() }}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}
