{# ... #}
{% extends 'user/base.html.twig' %}
{% block title %}TheBeautyStore Login{% endblock %}
{% block body %}
	<section class="vh-100">
		<div class="container py-5 h-100">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="row d-flex align-items-center justify-content-center h-100">
				<div class="col-md-7 col-lg-5 col-xl-5">
					<form
						action="{{ path('app_login') }}" method="post">
						<div class="form-outline mb-4">
							<h1 class="text-center">Sign in</h1>
						</div>
						<!-- Email input -->
						<div class="form-outline mb-4">
							<input type="email" id="username" class="form-control form-control-lg" name="_username" value="{{ last_username }}"/>
							<label class="form-label" for="username">Email address</label>
						</div>

						<!-- Password input -->
						<div class="form-outline mb-4">
							<input type="password" id="password" class="form-control form-control-lg" name="_password"/>
							<label class="form-label" for="password">Password</label>
						</div>

						<div
							class="d-flex justify-content-around align-items-center mb-4">
							<!-- Checkbox -->
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
								<label class="form-check-label" for="form1Example3">
									Remember me
								</label>
							</div>
							{# <a href="#!">Forgot password?</a> #}
						</div>

						<!-- Submit button -->
						<button type="submit" class="btn btn-dark btn-lg btn-block">Sign in</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{# {% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('app_login') }}" method="post">
		<label for="username">Email:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}">

		<label for="password">Password:</label>
		<input
		type="password" id="password" name="_password"> #}

{# If you want to control the URL the user is redirected to on success
								        <input type="hidden" name="_target_path" value="/account"> #}

{# <button type="submit">login</button>
	</form>
{% endblock %} #}
