{% extends 'user/account/index.html.twig' %}
{% block account_data %}
    <div class="input_info_account">
        <div class="row">
            <div class="col-6">
                {{ form_start(form) }}
                <div class="title_profile_page">Change your password</div>
                <div class="input-group mb-3">
                    {{ form_row(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="input-group mb-3">
                    {{ form_row(form.newPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(form) }}
                <button class="btn btn-dark" type="submit">Reset Password</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}