{% extends 'user/account/index.html.twig' %}
{% block account_data %}
	<div class="block_info_account">
		<div class="row">
			<div class="col-6">
				<div id="input_info_account">
					<div class="title_profile_page">Account info</div>
					<div class="content_box_profile_page">
						<div class="d-flex block_input_account">
							<div class="input_avata">
								<div class="avata">
									<img src="{{ asset('build/images/account-full.svg') }}" class="img-fluid">
								</div>
							</div>
							<div class="main_input_info_account">
								{{ form_start(form) }}
								{{ form_row(form._token) }}
								<div class="col-lg-12">
									<div class="form-group position-relative block_icon_form">
										{{ form_widget(form.email,{'attr':{'class':'form-control','placeholder': 'Email', 'readonly': 'true'}}) }}
										<span class="icon_form">
											<i class="fa fa-envelope-o"></i>
										</span>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group position-relative block_icon_form">
										{{ form_widget(form.fullname,{'attr':{'class':'form-control','placeholder': 'Full name'}}) }}
										<i class="fa fa-user" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-lg-12">
									<button type="submit" class="btn btn-dark w-100">Update</button>
								</div>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class=" block_edit_sub_info_account">
					<div class="title_sub_info_account">
						<strong class="txt_18">Security</strong>
					</div>
					<div class="item_subinfo_account item_key">
						<i class="fa fa-lock icon_key mr-3"></i>
						<span>Change password</span>
						<a href="{{ path('change_password') }}" class="btn btn-dark btn_update_status_info">Update</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
