{% extends 'user/base.html.twig' %}
{% block title %}Account{% endblock %}
{% block body %}
	<!-- Product Details Start -->
	<section class="section">
		<div class="container">
			<nav aria-label="tbs-breadcrumb breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('app_landing_page') }}">Home</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						Account
					</li>
				</ol>
			</nav>
			<div class="tbs-account row">
				<div class="col-12 col-md-3">
					<div class="block_menu_profile">
						<div class="block_info_profile">
							<div class="avatar_profile">
								<img src="{{ asset('build/images/account-full.svg') }}" class="img-fluid">
							</div>
							<div class="name_profile"><strong>Hi {{ app.user.email }}</strong></div>
						</div>
						<div class="menu_profile">
							<a href="{{ path('edit_user') }}" class="item_menu_profile">Account info</a>
							<a href="{{ path('user_order') }}" class="item_menu_profile">Orders</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-9">
					{% block account_data %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Product Details End -->{% endblock %}
