.add-to-cart-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 17px 24px;
    transition: all 0.5s;
    flex-grow: 1;
    &:hover {
        background-color: #757575;
    }
}
