.quantity{
  display: flex;
  justify-content: center;
  width: 30%;
  height: 61px;
  border: 2px solid #212121;
  .quantity-minus, .quantity-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    line-height: 1;
    padding: 0 0px 4px;
    width: 100%;
    color: #212121;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
  }
  .qty{
    text-align: center;
    height: 100%;
    padding: 0;
    border: none;
    width: 100%;
    min-height: 0;
    background: transparent !important;
  }
    input {
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    /* Ensure the input is still selectable */
    -moz-appearance: textfield;
  }
}