{% extends 'admin/base.html.twig' %}
{% block title %}New Gallery
{% endblock %}

{% block page %}
	NEW GALLERY
{% endblock %}
{% block breadcrumb_lv1 %}
	Galleries
{% endblock %}
{% block breadcrumb_lv2 %}
	Create Gallery
{% endblock %}
{% block sub_navigation %}{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between align-item-center">
				<h4 class="card-title mb-0 h-auto">Create Gallery</h4>
			</div>
		</div>
		<div class="card-body">
			<div class="live-preview">
				{{ form_start(form) }}
				<div class="form-row">
					<div class="col-12">
						<div class="mb-3">
							<h3>
								<span name="{{ field_name(form.product) }}">{{ product.id }}</span>
								-
								{{ product.name }}</h3>
							<label hidden>Product</label>
							<select name="{{ field_name(form.product) }}" class="form-control" readonly="true" hidden>
								<option value="{{ product.id }}">{{ product.id }}</option>
								{% for label, value in field_choices(form.product) %}
									<option value="{{ value }}">{{ label }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="mb-3">
							<label>Image</label>
							<div class="input-group">
								<div class="custom-file">
									{{ form_row(form.thumbnail,{'attr':{'class':'custom-file-input'}, 'label':'Choose file', 'label_attr':{'class':'custom-file-label'}}) }}
								</div>
								<div class="input-group-append">
									<button class="btn btn-sm btn-outline-secondary" type="submit">Upload</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ form_end(form) }}
				<div class="table-responsive table-card mt-3 mb-1">
					<table class="table gallery__table">
						<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Image</th>
								<th scope="col">Thumbnail</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for gallery in galleries %}
								<tr>
									<th scope="row">{{ gallery.id }}</th>
									<td><img class="gallery__img" src="{{ asset('uploads/'~gallery.thumbnail) }}"></td>
									<td>{{ gallery.thumbnail }}</td>
									<td class="d-flex gap-1">
										<button onclick="location.href='{{path('admin_delete_gallery', {'product_id': product.id, 'id':gallery.id})}}'" title="remove" class='btn btn-sm btn-danger'>
											<i class="fa fa-trash"></i>
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<button class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_edit_product', {'id': product.id})}}'" name="exit">
				<i data-feather="chevron-left"></i>
				Back</button>
			<button class="btn btn-primary btn-sm mr-1" onclick="location.href='{{path('admin_product_list')}}'" type="submit" name="create_product">
				<i data-feather="save"></i>
				Save</button>
		</div>
	</div>
{% endblock %}
