{% extends 'admin/base.html.twig' %}
{% block title %}New Product
{% endblock %}

{% block page %}
	CATEGORY DETAILS
{% endblock %}
{% block breadcrumb_lv1 %}
	Categories
{% endblock %}
{% block breadcrumb_lv2 %}
	Category Details
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between align-item-center">
				<h4 class="card-title mb-0 h-auto">Category Details</h4>
			</div>
		</div>
		<div class="card-body">
			<div class="live-preview">
				<div class="form-group">
					<div class="mb-3">
						<label for="validationServer01">Name</label>
						<input type="text" class="form-control" value="{{category.name}}" required/>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_category_list')}}'" name="exit">
				<i data-feather="chevron-left"></i>
				Back</button>
			<button class="btn btn-success btn-sm" onclick="location.href='{{path('admin_edit_category', {'id': category.id})}}'" name="exit">
				<i data-feather="edit"></i>
				Edit
			</button>
		</div>
	</div>
{% endblock %}
