{% extends 'user/account/index.html.twig' %}
{% block title %}Order{% endblock %}
{% block account_data %}
    <div class="box_order">
        <div class="title_profile_page">Order list</div>
        <div class="content_box_profile_page">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Order id</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.createdAt|date('F j,Y, g:i a') }}</td>
                    <td>{{ order.updatedAt|date('F j,Y, g:i a') }}</td>
                    <td>{{ order.total }} VND</td>
                    <td><span class="item_status_order {{ order.status }}">{{ order.status }}</span></td>
                    <td><a href="{{path('user_order_view', {'order_id': order.id})}}">View order items</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}