{% extends 'user/account/index.html.twig' %}
{% block title %}Order{% endblock %}
{% block account_data %}
    <div class="box_order_items">
        <div class="title_profile_page">Order items</div>
        <div class="content_box_profile_page">
            <div class="box_info_receiver mb-5">
                <div class="col-lg-4 col-md-4">
                    <div class="info_top_order">
                        <div class="mb-1">Order: <strong>{{ order.id }}</strong></div>
                        <div class="mb-1">Created at: {{ order.createdAt|date('F j,Y, g:i a') }}</div>
                        <div class="mb-3">Updated at: {{ order.updatedAt|date('F j,Y, g:i a') }}</div>
                        <div class="block_status_order mb-1">
                            <span class="item_status_order {{ order.status }}">{{ order.status }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_items_order_info">
                <table class="table table-striped tb_items_order">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orderItems %}
                    <tr>
                        <td>
                            <div class="item_order_items txt_link_tbs">
                                <div class="main_thumb_shopping">
                                    <img src="{{ asset('uploads/'~item.product.galleries[0].thumbnail) }}" class="img_thumb loading" style="width: 80px" />
                                </div>
                                <div class="info_order_item">
                                    <div class="product_shopping text-uppercase">
                                        <strong>
                                            <a href="#">L'OREAL</a>
                                        </strong>
                                    </div>
                                    <h2 class="title_item_shopping"><a href="{{path('shop_details', {'id': item.product.id})}}">{{ item.product.name }}</a></h2>
                                    <div class="text_333">
                                        <b>Category: </b>{{ item.product.category.name }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ item.product.listPrice }}</td>
                        <td class="text-right">{{ item.quantity }}</td>
                        <td class="text-right">{{ item.total }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="tfooter">
                        <td colspan="3">
                            <div class="text-right"><strong>Total</strong></div>
                        </td>
                        <td>
                            <div class="text-right"><strong>{{ order.total }}</strong></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}