{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard
{% endblock %}
{% block page %}
    Dashboard
{% endblock %}
{% block breadcrumb_lv1 %}
    Dashboard
{% endblock %}
{% block breadcrumb_lv2 %}
    Statistics
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Dashboard</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="stat-card">
                        <div class="stat-card__content">
                            <p class="text-uppercase mb-1 text-muted">Users</p>
                            <h2>{{ countUser }}</h2>
                        </div>
                        <div class="stat-card__icon stat-card__icon--primary">
                            <div class="stat-card__icon-circle">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="stat-card">
                        <div class="stat-card__content">
                            <p class="text-uppercase mb-1 text-muted">Products</p>
                            <h2>{{ countProduct }}</h2>
                        </div>
                        <div class="stat-card__icon stat-card__icon--info">
                            <div class="stat-card__icon-circle">
                                <i class="fa fa-warehouse"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="stat-card">
                        <div class="stat-card__content">
                            <p class="text-uppercase mb-1 text-muted">Orders</p>
                            <h2>{{ countOrder }}</h2>
                        </div>
                        <div class="stat-card__icon stat-card__icon--warning">
                            <div class="stat-card__icon-circle">
                                <i class="fa-solid fa-list-ul"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="stat-card">
                        <div class="stat-card__content">
                            <p class="text-uppercase mb-1 text-muted">Completed Orders</p>
                            <h2>{{ countCompletedOrder }}</h2>
                        </div>
                        <div class="stat-card__icon stat-card__icon--success">
                            <div class="stat-card__icon-circle">
                                <i class="fa fa-clipboard-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
