{% extends 'user/base.html.twig' %}
{% block title %}
	{{product.name}}
{% endblock %}
{% block body %}
	<!-- Product Details Start -->
	<section class="product_details">
		<div class="container">
			<nav aria-label="tbs-breadcrumb breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('app_landing_page') }}">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('app_shop') }}">Shop</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						{{product.name}}
					</li>
				</ol>
			</nav>
			<div class="tbs-product-details row">
				<div class="col-12 col-md-5">
					<div id="details__carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							{% for gallery in galleries %}
								{% if loop.index == 1 %}
									<div class="carousel-item active">
									{% else %}
										<div class="carousel-item">
										{% endif %}
										<img src="{{asset('uploads/'~gallery.thumbnail)}}" class="d-block w-100" alt="..."/>
									</div>
								{% endfor %}
							</div>
							<button class="carousel-control-prev border-0 bg-transparent" type="button" data-target="#details__carousel" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</button>
							<button class="carousel-control-next border-0 bg-transparent" type="button" data-target="#details__carousel" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</button>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="details__summary">
							<h1 class="product__title">{{product.name}}</h1>
							<p class="product__price">{{product.listPrice}} đ</p>
							<div class="details__addCart">
								{% if is_granted("IS_AUTHENTICATED_FULLY") %}
									{{ form_start(form) }}
									<div class="single-addtocart-wrapper">
										<div class="quantity">
											<a href="#" class="quantity-minus" role="button">-</a>
											{{ form_widget(form.quantity, {
												'attr': {
													'class': 'form-control qty' ~ (form.quantity.vars.valid ? '' : 'is-invalid'),
													'value': 1,
													'title': 'Qty',
													'size': 4,
													'min': 1
												}
											}) }}
											<a href="#" class="quantity-plus" role="button">+</a>
										</div>
										{{ form_widget(form.add, {'attr': {'class': 'add-to-cart-btn'}})}}
									</div>
									{{ form_end(form) }}
								{% else %}
									<div class="single-addtocart-wrapper">
										<div class="quantity">
											<a href="#" class="quantity-minus" role="button">-</a>
											<input type="number" id="add_to_cart_quantity" class="form-control qty" value="1" title="Qty" size="4" min="1" inputmode="numeric" autocomplete="off"/>
											<a href="#" class="quantity-plus" role="button">+</a>
										</div>
										<button type="submit" name="add-to-cart" class="add-to-cart-btn" onclick="location.href='{{path('app_login')}}'">ADD TO CART</button>
									</div>
								{% endif %}
							</div>
							<hr class="divider"/>
							<div class="details__meta">CATEGORY:
								{{product.category.name}}</div>
						</div>
					</div>
				</div>
				<div class="details__tabs">
					<nav>
						<div class="nav nav-tabs mb-5" id="nav-tab" role="tablist">
							<button class="nav-link active" id="nav-desc-tab" data-toggle="tab" data-target="#nav-desc" type="button" role="tab" aria-controls="nav-desc" aria-selected="true">
								Description
							</button>
							<button class="nav-link" id="nav-ingredient-tab" data-toggle="tab" data-target="#nav-ingredient" type="button" role="tab" aria-controls="nav-ingredient" aria-selected="false">
								Ingredient
							</button>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">{{product.about}}
						</div>
						<div class="tab-pane fade" id="nav-ingredient" role="tabpanel" aria-labelledby="nav-ingredient-tab">
							{{product.ingredient}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Details End -->
{% endblock %}
