{% extends 'user/base.html.twig' %}
{% block title %}TheBeautyStore Shop{% endblock %}
{% block body %}
	<!-- Shop Start -->
	<section class="tbs-shop">
		<div class="tbs__title">
			<h3>Shop</h3>
		</div>
		<div class="product__list">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-2">
						<div class="tbs-sidebar">
							<div class="tbs-sidebar-item">
								<h3 class="filter__heading">Category</h3>
								<ul>
									<li>
										{% for category in categories %}
											<a href="{{ path('shop_filter', {'category_id': category.id}) }}">{{ category.name }}</a>
										{% endfor %}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-10">
						<div class="row">
							{% for product in products %}
								<div class="col-12 col-md-6 col-lg-4">
									<div class="card border-0" style="width: 18rem">
										<div class="card__img">
											<img src="{{asset('uploads/'~product.thumbnail)}}" class="card-img-top" alt="{{product.name}}"/>
											<div class="card__overlay">
												<div class="card__nav">
													<a href="{{ path('shop_details', {'id': product.id}) }}" class="mr-4">
														<i class="fa fa-eye"></i>
													</a>
													<a {% if is_granted("IS_AUTHENTICATED_FULLY") %}href="{{ path('app_user_cart') }}"{% else %}href="{{path('app_login')}}"{% endif %}>
														<i class="fa fa-shopping-cart"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="card__info card-body text-center">
											<a href="{{ path('shop_details', {'id': product.id}) }}" class="card-title font-weight-lighter">
												{{product.name}}
											</a>
											<p class="card-text font-weight-bold">{{product.list_price}} đ</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shop End -->
{% endblock %}
