{% extends 'admin/base.html.twig' %}
{% block title %}New Product
{% endblock %}

{% block page %}
	NEW PRODUCT
{% endblock %}
{% block breadcrumb_lv1 %}
	Products
{% endblock %}
{% block breadcrumb_lv2 %}
	Create Product
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between align-item-center">
				<h4 class="card-title mb-0 h-auto">Create Product</h4>
			</div>
		</div>
		{{ form_start(form) }}
		<div class="card-body">
			<div class="live-preview">
				<div class="form-row">
					<div class="col-8">
						<div class="mb-3">
							{{ form_label(form.name) }}
							{{ form_widget(form.name,{'attr':{'class':'form-control','placeholder': 'Name'}}) }}
						</div>
						<div class="mb-3">
							{{ form_label(form.about) }}
							{{ form_widget(form.about,{'attr':{'class':'form-control','placeholder': 'About'}}) }}
						</div>
						<div class="mb-3">
							{{ form_label(form.how_to_use) }}
							{{ form_widget(form.how_to_use,{'attr':{'class':'form-control','placeholder': 'How to use'}}) }}
						</div>
						<div class="mb-3">
							{{ form_label(form.ingredient) }}
							{{ form_widget(form.ingredient,{'attr':{'class':'form-control','placeholder': 'Ingredient'}}) }}
						</div>
					</div>
					<div class="col-4">
						<div class="mb-3">
							{{ form_label(form.list_price) }}
							{{ form_widget(form.list_price,{'attr':{'class':'form-control','placeholder': 'Price'}}) }}
						</div>
						<div class="mb-3">
							{{ form_label(form.category) }}
							{{ form_widget(form.category,{'attr':{'class':'form-control'}}) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_product_list')}}'" name="exit">
				<i data-feather="chevron-left"></i>
				Back</button>
			<button class="btn btn-primary btn-sm mr-1" type="submit" name="create_product">
				<i data-feather="save"></i>
				Save
			</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
