{% extends 'base/base.html.twig' %}
{% block title %}TheBeautyStore{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet"/>
	{{ encore_entry_link_tags('user') }}
{% endblock %}
{% block boilerplate %}
	<!-- Header Start -->
	<header class="tbs-top py-3 border-bottom">
		<div class="container">
			<nav class="row navbar navbar-expand-lg navbar-light">
				<div class="col-4">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="{{path('app_landing_page')}}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_shop')}}">Shop</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-4 text-center">
					<a class="navbar-brand font-weight-bold" href="{{ path('app_landing_page') }}">TheBeautyStore</a>
				</div>
				<div class="header_right col-4 d-flex justify-content-end">
					<a href="#" class="item__right mr-5">
						<i class="fa fa-search"></i>
					</a>
					<div class="item__login mr-5">
						<a href="#" class="item__right">
							<i class="fa fa-user"></i>
						</a>

						<div class="sub__login {% if is_granted("IS_AUTHENTICATED_FULLY") %}sub_loged_in{% endif %}">
							<div class="main_content_sub_login">
								<span class="arrow_sub_login">
									<span class="icon_carret_down"></span>
								</span>
								{% if is_granted("IS_AUTHENTICATED_FULLY") %}
									<div class="item_loged_in">
										Hi! {{ app.user.email }}
									</div>
									<div class="item_loged_in">
										<a href="{{path('edit_user')}}">
											<i class="fa fa-file"></i>
											Profile setting
										</a>
									</div>
									<div class="item_loged_in">
										<a href="{{ path('user_order') }}">
											<i class="fa fa-list-alt"></i>
											Manage your orders
										</a>
									</div>
									<div class="item_loged_in">
										<a href="{{path('app_logout')}}">
											<i class="fa fa-sign-out"></i>
											Log out</a>
									</div>
								{% else %}
									<div class="block_login">
										<div class="text-center mb-1">
											Login with TheBeautyStore
										</div>
										<a href="{{path('app_login')}}" class="btn btn-dark w-100">Login</a>
										<div class="mt-2">
											Sign up a new account
											<a href="{{path('app_register')}}">SIGN UP NOW</a>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<a {% if is_granted("IS_AUTHENTICATED_FULLY") %}href="{{ path('app_user_cart') }}"{% else %}href="{{path('app_login')}}"{% endif %} class="item__right">
						<i class="fa fa-shopping-cart"></i>
					</a>
				</div>
			</nav>
		</div>
	</header>
	<!-- Header End -->
	<!-- Top Bar Start -->
	<div class="tbs_top_bar"></div>
	<!-- Top Bar End -->
	{% block body %}{% endblock %}
	<!-- Footer Start -->
	<footer class="footer">
		<div class="container">
			<div class="footer__main">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="footer__widget">
							<div class="widget__column">
								<h3 class="widget__logo">TheBeautyStore</h3>
								<p class="widget__text">
									Give you our best services and treatment for your skin.
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<h3 class="widget__title">Quick Links</h3>
						<div class="menu__footer">
							<ul>
								<li><a href="{{path('app_landing_page')}}">Home</a></li>
								<li><a href="{{path('app_shop')}}">Shop</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__copyright">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="social__profile">
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-6 d-flex justify-content-end">
						<p class="widget__text">
							© 2023 TheBeautyShop. Proudly powered by TheBeautyStore
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('user') }}
{% endblock %}
