.tbs-carousel {
    .carousel-caption {
        text-align: left;
        width: 40%;
        bottom: 50%;
        transform: translateY(25%);
        h5 {
            color: black;
            font-weight: 400;
            font-size: $fs-6;
        }
    }
}
