#details__carousel {
  width: 470px;
  .carousel-item {
    width: 100%;
    height: 564px;
    img {
      background-size: contain;
    }
  }
}

.product_details {
  margin-top: 80px;
}

.product__title {
  font-size: $fs-5;
  font-weight: 400;
  margin-bottom: 20px;
}
.product__price {
  font-size: $fs-4;
  font-weight: 600;
  margin-bottom: 30px;
}

.details__summary {
  padding-left: 40px;
}
.details__addCart {
  margin: 15px 0 30px 0;
}

.details__tabs {
  margin: 70px 0 80px 0;
  .nav-tabs {
    justify-content: center;
    .nav-link {
      border-bottom: 3px solid transparent;
      &:hover {
        border-color: transparent transparent transparent;
      }
      &.active {
        background-color: transparent !important;
        border-color: transparent;
        border-bottom-color: black;
      }
    }
  }
}
.single-addtocart-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}