.footer {
    background: #f5f5f5;
    padding-top: 50px;
}
.footer__main {
    padding-bottom: 50px;
}
.widget__logo {
    font-size: $fs-3;
    font-weight: bold;
}
.widget__title {
    font-size: $fs-3;
    margin-bottom: 20px;
}
.widget__text {
    font-size: $fs-2;
}
.menu__footer {
    font-size: $fs-2;
    li {
        padding-bottom: 10px;
    }
}
.social__profile a {
    margin-right: 40px;
    font-size: $fs-2;
}
