.tbs-top {
    background: white;
    position: fixed;
    z-index: 20;
    width: 100%;
    #navbarNav {
        font-size: $fs-2;
    }
    .header_right {
        i {
            font-size: $fs-2;
            color: black;
        }
    }
    .item__login {
        position: relative;
        z-index: 10;
        &:hover {
            .sub__login {
                display: block;
            }
        }
    }
    .sub__login {
        width: 300px;
        left: -152px;
        top: 10px;
        font-size: $fs-1;
        position: absolute;
        padding-top: 20px;
        z-index: 10;
        display: none;
        position: absolute;
        &.sub_loged_in {
            width: 200px;
            left: -103px;
        }
        &:hover {
            display: block;
        }
        .main_content_sub_login {
            background: #fff;
            border: 1px solid #aaaaaa;
            padding: 10px 0;
            border-radius: 0 0 3px 3px;
        }
        .block_login {
            padding: 0 20px 10px 20px;
            // border-bottom: 1px solid #dbdbdb;
        }
        .block_signup {
            padding: 10px 20px 0 20px;
        }
    }
}
.arrow_sub_login {
    display: inline-block;
    width: 11px;
    height: 9px;
    position: absolute;
    left: 50%;
    top: 7px;
    z-index: 11;
    .icon_carret_down:before {
        top: 2px;
        background: #fff;
        border: 1px solid #aaa;
    }
}
.item_loged_in {
    color: black;
    padding: 5px 10px;
}
.icon_carret_down {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 7px;
    overflow: hidden;
    margin-left: 3px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        width: 12px;
        height: 12px;
        background: rgb(255, 252, 252);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.tbs_top_bar {
    background: white;
    padding: 80px 0 7px 0;
    z-index: 9;
}

