.box_order {
  padding: 10px 20px 20px 20px;
  background: #fff;
  margin-bottom: 0;
  font-size: $fs-1;
}
.box_order_items {
  font-size: $fs-1;
  padding: 10px 20px 20px 20px;
  background: #fff;
  margin-bottom: 0;
  width: 100%;
}
.tb_items_order {
  .main_thumb_shopping {
    width: 80px;
    margin-right: 10px;
  }
  .item_order_items {
    display: flex;
  }
}
.title_item_shopping {
  line-height: 18px;
  font-size: 13px;
  overflow: hidden;
  font-weight: 400;
  margin-bottom: 0;
}
.text_333 {
  color: #333;
}
.item_status_order {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  width: 110px;
  text-align: center;
  &.awaiting {
    background-color: #ffa500;
  }
  &.checkout {
    background-color: #0cbeff;
  }
  &.complete {
    background-color: #4b8c6c;
  }
}
.box_info_receiver {
  padding: 10px 0;
  border: 1px solid #e5e5e5;
}