.product {
    margin: 100px 0;
}
.card {
    .card__img {
        position: relative;
        &:hover {
            .card__overlay {
                opacity: 1;
            }
            .card__nav {
                transform: translateX(-50%) translateY(0);
            }
        }
        img {
            height: 300px;
            object-fit: contain;
        }
    }
    .card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.293);
        padding: 100px 40px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    .card__nav {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%) translateY(50px);
        transition: all 0.5s;
        i {
            color: white;
            border: 1.5px solid rgba(255, 255, 255, 0.5);
            height: 37px;
            width: 37px;
            line-height: 37px;
            text-align: center;
            border-radius: 50%;
            transition: all 0.5s;
            &:hover {
                color: black;
                background: white;
            }
        }
    }
}
