.block_menu_profile {
  background-color: #fff;
}
.block_info_profile {
  padding: 15px 20px;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
}
.avatar_profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.name_profile {
  color: #326e51;
  font-size: $fs-1;
  display: flex;
  align-items: center;
}
.item_menu_profile {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #333;
  font-size: $fs-1;
}
#input_info_account {
  padding: 10px 20px 20px 20px;
  background: #fff;
  margin-bottom: 0;
  width: 100%;
  .content_box_profile_page {
    padding-top: 10px;
  }
  .block_info_account {
    position: relative;
    padding-left: 110px;
    .input_avatar {
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      width: 100px;
    }
  }
  input[type="email"] {
    height: 38px;
  }
  .icon_form {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
  }
}
.block_input_account {
  .input_avata {
    left: 0;
    top: 0;
    text-align: center;
    width: 100px;
  }
  .avata {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    display: inline-block;
  }
  .main_input_info_account{

  }
}
.block_icon_form {
  .fa {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #8a8f91;
  }
}
.title_profile_page {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.item_subinfo_account {
  position: relative;
  font-size: 14px;
  padding: 0 0 0 35px;
}
.item_key {
  padding-top: 8px;
}
.icon_key {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 16px;
  font-size: $fs-4;
}
.btn_update_status_info {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 120px;
  text-align: center;
  background: #f1f2f6;
  color: #909090;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}
.block_edit_sub_info_account {
  padding: 20px;
}