.tbs-shop {
  margin: 50px 0;
}
.product__list {
  .tbs-sidebar {
    .tbs-sidebar-item {
      .filter__heading {
        position: relative;
        font-size: $fs-4;
        font-weight: 700;
        margin-bottom: 25px;
      }
      ul {
        li {
          a {
            font-size: $fs-2;
            color: #1c1c1c;
            line-height: 39px;
            display: block;
          }
        }
      }
    }
  }
}