{% extends 'user/base.html.twig' %}
{% block body %}
    <!-- Carousel start -->
    <section class="tbs-carousel">
        <div
                id="carouselExampleSlidesOnly"
                class="carousel slide"
                data-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{asset('build/images/carousel.png')}}" class="d-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="mb-5">Cocolo blow off your steam</h5>
                        <a href="{{path('app_shop')}}" class="btn btn-dark btn-lg">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Carousel End -->
    <!-- Product Start -->
    <section class="product">
        <div class="tbs__title">
            <h3>Featured Collection</h3>
        </div>
        <div class="product__list">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card border-0" style="width: 18rem">
                            <div class="card__img">
                                <img
                                        src="{{ asset('uploads/'~product.thumbnail) }}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card__overlay">
                                    <div class="card__nav">
                                        <a href="{{ path('shop_details', {'id': product.id}) }}" class="mr-4"><i class="fa fa-eye"></i></a>
                                        <a {% if is_granted("IS_AUTHENTICATED_FULLY") %}href="{{ path('app_user_cart') }}"{% else %}href="{{path('app_login')}}"{% endif %}><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card__info card-body text-center">
                                <a href="{{ path('shop_details', {'id': product.id}) }}" class="card-title font-weight-lighter">
                                    {{product.name}}
                                </a>
                                <p class="card-text font-weight-bold">{{product.list_price}} đ</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Product End -->
{% endblock %}
